<?xml version="1.0" encoding="UTF-8"?>
<!--Open Liberty documentation does not use schema in examples.-->
<server description="Jakarta EE example server">
    <httpEndpoint host="*" httpPort="9082" httpsPort="9443"/>
    <featureManager>
        <feature>servlet-6.0</feature>
        <feature>jsonb-3.0</feature>
        <feature>cdi-4.0</feature>
        <feature>faces-4.0</feature>
        <feature>restfulWS-3.1</feature>
        <feature>persistence-3.1</feature>
    </featureManager>

    <dataSource id="FootballDataSource" jndiName="jdbc/football">
        <jdbcDriver javax.sql.XADataSource="org.h2.jdbcx.JdbcDataSource"
                    javax.sql.ConnectionPoolDataSource="org.h2.jdbcx.JdbcDataSource"
                    javax.sql.DataSource="org.h2.jdbcx.JdbcDataSource"
                    libraryRef="H2JDBCLib"/>
        <properties URL="jdbc:h2:mem:football-db"/>
        <!-- Możesz użyć poniższej linii, jeśli chcesz używać trwałej bazy danych:
             <properties URL="jdbc:h2:/tmp/football-db;AUTO_SERVER=TRUE"/> -->
    </dataSource>
    <library id="H2JDBCLib">
        <fileset dir="${wlp.install.dir}/usr/servers/defaultServer/lib/global/" includes="h2-2.2.220.jar"/>
    </library>
</server>
